      <!DOCTYPE html>
       <html>
       <head>
         ...
       </head>
       <body>
       <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
         <div class="container">
           <div class="navbar-header">
           </div>
           <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li th:classappend="${module == 'home' ? 'active' : ''}">
                 <a href="http://localhost:9090/greeting" th:href="@{/greeting}">greeting</a>
               </li>
               <li>
                   <a href="http://localhost:9090/addresses" th:href="@{/addresses}">
                   addresses</a>
               </li>
             </ul>
           </div>
         </div>
       </div>
       </body>
       </html>